.panel {
     padding-bottom: 3vh;
    .panelSections {
        background: red;
        cursor: pointer;
        width: 100%;
        height: 4vh;
        padding-left: 10px;
        font-size: 16px;
        border: none;
        outline: none;
        transition: 0.4s;
        display: flex;
        align-items: center;
        //margin-bottom: 3vh;
    }

    .accordionWrapper {
        padding: 0 1rem;
        max-height: 0;
        overflow: hidden;
        transition: max-height .25s ease-out;
        .accordion {
            padding-top: 10px;
            font-size: 1.4rem;
        }
    }
}