/* ------------------------------------------------------------------ BUTTONS ------------------------------------------------------------------*/
.gameButtons {
  border: none;
  width: 37px;
  height: 37px;
  border-radius: 50%;
  cursor: pointer;
  background: #2D3037;
  transition: $base-transition;
  @include flex-center;

  &:hover {
    background: #232833;
  }

  &:active {
    background: #2b3344;
    transition: transform ease-in-out .05s;
  }
}
/* ----------------------------------------------------------------- START GAME BUTTON -----------------------------------------------------------------*/
#startGameButton {
  position: relative;
  
  input {
    position: absolute;
    left: 10px;
    display: none;
  }
}

/* ------------------------------------------------------------------ PANEL NEXT LEVEL ------------------------------------------------------------------*/
#nextLevelIconWrapper{
  transition: $base-transition;
  cursor: pointer;
  &:hover {
    opacity: .7;
  }
}

