#container {
    background: $background;
    width: 100%;
    min-height: 100vh;
    padding: 0 3vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: $base-transition;
  }
  
  .sections {
    border-radius: 25px;
  }