.switchWrapper {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
  background: $dark;
  margin-left: 10px;

  .sliderCircle {
    border-radius: 50px;
    position: absolute;
    cursor: pointer;
    background: $blue;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: $base-transition;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .sliderCircle:before {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    background: #1D1F28;
    right: 5px;
    transition: $base-transition;
    border-radius: 50%;
  }
  
  input {
    position: absolute;
    top: 7.5px;
    left: 10px;
    &:checked+.sliderCircle {
      background: #2D3037;
    }
    &:checked+.sliderCircle:before {
      transform: translateX(-20px);
    }
  }
}






