/* ------------------------------------------------------------------ PANEL SWITCHES ------------------------------------------------------------------*/

.switchWrapper {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
  background: $dark;
  margin-left: 10px;

  .sliderCircle {
    border-radius: 50px;
    position: absolute;
    cursor: pointer;
    background: $blue;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: $base-transition;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .sliderCircle:before {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    background: #1D1F28;
    right: 5px;
    transition: $base-transition;
    border-radius: 50%;
  }

  input {
    position: absolute;
    top: 7.5px;
    left: 10px;

    &:checked+.sliderCircle {
      background: #2D3037;
    }

    &:checked+.sliderCircle:before {
      transform: translateX(-20px);
    }
  }
}

/* ------------------------------------------------------------------ PANEL RADIO BOXES ------------------------------------------------------------------*/
.radioSection {
  width: 100px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;

  .radioWrapper {
    width: 22px;
    height: 22px;
    position: relative;
    cursor: pointer;
    user-select: none;
    @include flex-center;
    margin-right: 10px;
    transition: $base-transition;

    /* On mouse-over, add a grey background color */
    &:hover input~.customRadio {
      opacity: .9;
    }

    /* Hide the browser's default radio button */
    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;

      /* When the radio button is checked, add a blue background */
      &:checked~.customRadio {
        background: $blue;
      }

      /* Show the indicator (dot/circle) when checked */
      &:checked~.customRadio:after {
        display: block;
      }
    }

    /* Create a custom radio button */
    .customRadio {
      position: absolute;
      height: 22px;
      width: 22px;
      background: #505258;
      border-radius: 50%;
      @include flex-center;

      /* Create the indicator (the dot/circle - hidden when not checked) */
      &:after {
        content: "";
        position: absolute;
        display: none;
      }

      /* Style the indicator (dot/circle) */
      &:after {
        width: 8px;
        height: 8px;
        background: #E9EDF2;
        border-radius: 50%;

      }
    }
  }








}