/* ------------------------------------------------------------------ PANEL SWITCHES ------------------------------------------------------------------*/

.switchWrapper {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
  background: transparent;
  

  .switcherSlider {
    border-radius: 50px;
    position: absolute;
    cursor: pointer;
    background: $blue;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: $base-transition;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .switcherSlider:before {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    background: var(--background, #1D1F28);
    right: 5px;
    transition: $base-transition;
    border-radius: 50%;
  }

  input {
    position: absolute;
    top: 5px;
    left: 10px;
    display: none;

    &:checked+.switcherSlider:before {
      transform: translateX(-20px);
    }
  }
}

/* ------------------------------------------------------------------ PANEL RADIO BOXES ------------------------------------------------------------------*/
.radioSection {
  width: 200px;
  height: 22px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;

  .radioWrapper {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;

    input {
      position: absolute;
      left: 4px;
      display: none;

      /* &:checked~.customRadio {
        background: $blue;
      } */
      &:checked~.customRadio::before {
        content: "";
        width: 8px;
        height: 8px;
        background: #E9EDF2;
        border-radius: 50%;
      }
    }

    .customRadio {
      height: 22px;
      width: 22px;
      /* background: #505258; */
      border-radius: 50%;
      @include flex-center;
    }

    .radioTitles {
      margin-left: 10px;
    }
  }
}
