/* ------------------------------------------------------------------ BOARD INFO ------------------------------------------------------------------*/

#gameWrapperSection {
  #boardInfoWrapper {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    .boardInfoSections {
      height: 100%;
      @include flex-center;
      
      .boardInfoTitles {
        margin-right: 5px;
        font-size: 1.6rem;
        text-transform: capitalize;
      }

      .boardInfoParameters {
        font-size: 1.8rem;
        text-transform: capitalize;
        width: 60px;
        /* background: red; */
        #timer {
          font-family: fontMedium, serif;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          min-width: 40px;
          height: 3rem;
        }
      }

      #cardSignal {
        opacity: 0;
        width: 70px;
        display: flex;
        justify-content: space-around;
  
        .indicatorWrapper {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 25px;
          height: 25px;
          border-radius: 50%;
          transition: $base-transition;

          #firstCardIndicator,
          #secondCardIndicator {
            width: 100%;
            height: 100%;
            border-radius: 50%;
          }
        }
      } 
    }
  }

/* ------------------------------------------------------------------ BOARD GAME ------------------------------------------------------------------*/

  #boardGameWrapper {
   // background: rgb(29, 36, 54);
    width: 100%;
    height: 95%;
    @include flex-center;
    flex-wrap: wrap;

    #gameBoard {
      @include flex-center;
      flex-wrap: wrap;
      height: auto;
      //background: black;
      
      
      .cardWrapper {
        opacity: 0;
        /* flex-basis: calc(25% - .2vw); */
        //flex: 0 0 23%;
        width: 4vw;
        height: 4vw;
        border-radius: 4px;
        position: relative;
        transform: scale(1);
        transform-style: preserve-3d;
        transition: all ease-in-out .15s;
        margin: .1vw;
        
      }

      .cardWrapper:active {
        transform: scale(0.975);
        transition: $base-transition;
      }

      .front,
      .back {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        
      }
      
      .front {
        transform: rotateY(180deg);
        border-radius: 6px;
        border: 1px solid #0054E7;
      }
   
      .cardWrapper.rotate {
        transform: perspective(600px) rotateY(180deg);
      }

      .cardsWrapper.flip {
        transform: rotateY(180deg);
      }
    }
  }
}


/* ----------------------------------------------------------------  END MESSAGE  ---------------------------------------------------------------- */
#messageWrapper {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  @include flex-center;
  flex-direction: column;
  text-transform: capitalize;

  #message {
    text-align: center;
    font-size: 4rem;
    line-height: 8rem;

  }
  .messages {
    text-align: center;
    font-size: 2rem;
    line-height: 4rem;
  }

  #messageButtonsSection {
    width: 50%;
    margin-top: 6rem;
    display: flex;
    justify-content: space-between;

    .messageButtonWrapper {
      @include flex-center;
      flex-direction: column;
      font-size: 1.4rem;
      
      button {
        margin-top: 1rem;
      }
    }
  }

  /* #continueAfterWin,
  #resetAfterWin,
  #levelAfterWin {
    visibility: hidden;
    margin-top: 50px;
    border: none;
    text-transform: uppercase;
    width: 200px;
    height: 50px;
    border-radius: 4px;
    transition: $base-transition;
    font-weight: 900;
    letter-spacing: 3px;

    &:hover {
      opacity: .75;
    }

    &:active {
      transform: scale(0.975);
      transition: transform ease-in-out .15s;
    }
  } */
}