#settingsWrapperSection {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* -------------------------------------------------------   TOP   ------------------------------------------------------- */
    #titleWrapper {
        position: relative;
        width: 100%;
        height: 5%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.8rem;
        line-height: 2rem;
        text-transform: capitalize;

        //background: red;
        #goBackButton {
            position: absolute;
            right: 0;
            display: none;

            @include respond(laptop) {
                display: block;
            }
        }
    }

    /* -------------------------------------------------------   MID   ------------------------------------------------------- */

    #panelWrapper {
        width: 100%;
        height: 75%;
        margin-top: 5%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        /* justify-content: center; */
        overflow: auto;
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;

        /* Firefox */
        &::-webkit-scrollbar {
            display: none;
        }

        //padding-top: 2px;

        .panel {
            /* height: calc(100% / 9); */
            //height: 100%;
            /* background: red; */
            
            /* padding-bottom: 2.5vh; */
            transition: $base-transition;
            margin-top: 5px;

            .accordionTrigger {
                cursor: pointer;
                transition: $base-transition;
            }

            .panelSections {
                /* background: green; */
                width: 100%;
                
                //min-height: 3rem;
                /* height: 6rem; */
                //margin: 1.5px 0;
                padding: 0 10px;
                font-size: 16px;
                border: none;
                outline: none;
                transition: 0.4s;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .panelSectionsLeft {
                    @include flex-center;

                    .iconWrapper {
                        @include flex-center;
                        width: 35px;
                        height: 35px;
                        /* background: #2D3037; */
                        border-radius: 50%;
                        margin-right: 15px;
                        transition: $base-transition;
                    }
                }

                .panelSectionsRight {
                    height: 20px;
                    @include flex-center;
                    transition: $base-transition;

                    &:hover {
                        opacity: .7;
                    }

                    .switchTitles {
                        text-transform: capitalize;
                        margin-right: 10px;
                    }

                    .accordionArrowWrapper {
                        width: 50px;
                        display: flex;
                        justify-content: flex-end;
                    }
                }
            }

            .accordionWrapper {
                padding: 0 1rem;
                max-height: 0;
                overflow: hidden;
                transition: max-height .25s ease-out;

                .accordion {
                    padding-top: 10px;
                    font-size: 1.4rem;

                    .accordionCheckboxesWrapper {
                        display: flex;
                        flex-direction: column;
                        padding: 0 7rem 1rem 5rem;
                    }
                }
            }
        }
    }

    /* -------------------------------------------------------   BOTTOM   ------------------------------------------------------- */
    #resetWrapper {
        /* background: blue; */
        width: 100%;
        height: 10%;
        /* padding-top: 1rem; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 1.4rem;
        line-height: 1.6rem;
        text-transform: capitalize;
        #resetGame {
            margin-top: 1rem;
        }
    }

}

/* -------------------------------------------------------   HELP   ------------------------------------------------------- */

#helpWrapper {
    width: 100%;
    height: 500px;
    padding: 0 1rem;
    border-radius: 12.5px;
    font-size: 1.4rem;
    /* color: #1D1F28; */
    color: #70737a;
    overflow: auto;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;

    /* Firefox */
    &::-webkit-scrollbar {
        display: none;
    }

    .helpSections {
        margin: 3rem 0;
        padding: 1rem 0;
        border-top: 2px solid #70737a;

        //background: red;
        .helpTitles {
            font-family: fontLight;
            font-size: 1.75rem;
            color: #70737a;
            margin-bottom: 1rem;
        }

        .helpSubTitles {
            text-align: right;
            padding-right: 2rem;
            font-family: fontHeavy;
            font-size: 1.25rem;
            color: #70737a;
            margin-bottom: 1rem;
        }

        .helpText {
            font-size: 1.35rem;
            color: #70737a;
        }

        .helpLevelTitle {
            font-family: fontHeavy;
            font-size: 1.25rem;
            margin: 3rem 0 .5rem 0;
            color: #06A7A7;
        }

        .helpLevelText {
            font-size: 1.35rem;
            color: #70737a;
        }

        .addedScore {
            font-family: fontSemibold;
            font-size: 1.15rem;
            color: #1D1F28;
            margin: .5rem 1rem 0 1rem;
        }

        .helpImages {
            width: 100%;
            margin-top: 1rem;
        }

        .helpSymbolSections {

            .symbolTitle {
                font-family: fontMedium;
                text-decoration: overline;
                font-size: 1.25rem;
                text-transform: uppercase;
                margin: 2rem 0 .5rem 0;
            }

            .symbol {
                display: inline-block;
                font-family: fontHeavy;
                font-size: 1.25rem;
                min-width: 6rem;
                text-align: center;
                /* background: red;  */
            }
        }
    }
}