#divider {
    opacity: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    min-height: 85vh;


    #startGameButtonWrapper {
        position: absolute;

        #startGameButton {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 80px;
            height: 80px;
            border-radius: 4px;
            transition: $base-transition;

            #startGameInput {
                position: absolute;
                z-index: -1;
            }

            #startGameImage {
                width: 50%;
                z-index: 1;
            }
        }
    }

    #border {
        width: 9px;
        min-height: 85vh;
        border-radius: 2px;
        transition: $base-transition;
    }

}