.switchButtons {
    @include flex-center;
    flex-direction: column;

    .switch {
        user-select: none;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        background: #F0F0F3;
        box-shadow: 2px 2px 2px #D7D7D9, inset 3px 3px 3px #FFFFFF, inset -3px -3px 3px rgba(174, 174, 192, 0.25);
        border-radius: 4px;
        margin-bottom: 15px;
        .switchOnOffIcon {
            color: #B7E10F;
            font-size: 30px;
            position: absolute;
            cursor: pointer;
        }

        input {
            z-index: -1;
       }
        input:checked~.switchOnOffIcon {
            color: #A09F9F;
       }
    }
}