* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

html {
    font-size: 10px;
    overflow-x: hidden;
}

#container {
    
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter', sans-serif;
    transition: $base-transition;
}

li {
    list-style: none;
}