@import "./var&mix";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: 10px;
  overflow-x: hidden;
  height: 100vh;
}

body {
  height: 100%;
}

li {
  list-style: none;
}

.gameTitle {
  font-size: 1.8rem;
  line-height: 2rem;
  text-transform: capitalize;
}

.font_default {
  letter-spacing: .5px;
}

.font_thin {
  letter-spacing: .5px;
}

.addOpacity {
  opacity: .2;
  }
