@import "./var&mix";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: 10px;
  overflow-x: hidden;
}

li {
  list-style: none;
}

.font_default {
  font-family: fontThin;
  color: #E9EDF2;
}

.font_light {
  font-family: fontUltralight;
  color: #8a8e96;
}

