@import "./var&mix";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: 10px;
  overflow-x: hidden;
  //font-family: 'SF UI Display Medium';
  
}

#container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: $base-transition;
}

li {
  list-style: none;
}

