@mixin flex-center {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

$base-transition: all ease-in-out .25s;
$background: linear-gradient(252.35deg, #161D3B 1.48%, #31397E 49.71%, #6B69D1 97.43%);
$dark: #1D1F28;
$light: #F0F0F3;
$gray: #A09F9F;
$green: #B7E10F;
$blue: #06A7A7;
$red: #FF7070;
